
.DS_Store
DeepQA/.DS_Store
DeepQA/indexing/__pycache__/
index_Wiki_v7.0
*.pyc
IR_Dataset/
QA_dataset/SQuAD/train-v2.0.json
.idea/DeepQA.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
